/* Poppins fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* Roboto fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* css for all */

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

/* body tag */

body {
    background-color: #111a28;
    /* color: #ff8206; */
    color: white;
}

/* main logo size */

.logo-h {
    width: 80px;
}

/* navigation padding */

nav {
    padding: 0px;
}

/* nav-item designed */

#co {
    color: hsla(0, 0%, 100%, .85);
    ;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-left: 30px;
}

/* mobile respective bar */

#tro-bar {
    background-color: #ff8206;
    color: #111a28;
    padding: 10px;
    border-radius: 6px;
}

/* follow option start */

.f-me ul li {
    list-style: none;
}

.link-a {
    color: white;
    font-size: 30px;
}

.link-a:hover {
    color: white;
}

/* follow option start */

/* intro start */

.intro h2 {
    font-size: 22px;
    color: #ff8206;
}

.intro h1 {
    font-size: 78px;
    font-weight: 900;
    margin-bottom: 25px;
}

.intro h3 {
    color: #ff8206;
    font-weight: 900;
}

.intro h4 {
    /* color: #ff8206; */
    font-size: 18px;
}

.dot {
    font-size: 12px;
    padding: 10px;
    color: #ff8206;
}

.intro {
    margin-top: 100px;
}

.action a {
    color: white;
    padding: 18px 25px;
    border: 2px solid #ff8206;
    margin-right: 20px;
    font-size: 20px
}

.action a:hover {
    text-decoration: none;
}

.get {
    background-color: #ff8206;
}

.action {
    margin-top: 50px;
}

/* intro end */

/* all div common style */

#home, #about, #skill, #contact, #portfolio {
    background-color: #111a28;
    border: none;
    color: white;
    padding: 5px 15px;
}

/* about section start */

#aboutAr {
    display: none;
}

#skillAr {
    display: none;
}

.abar {
    margin-top: 70px;
}

/* about img */

.ab-img img {
    width: 50%;
    margin-left: 100px;
    filter: grayscale(100%);
    transition: transform 1s;
}

.ab-img img:hover {
    /* width: 60%; */
    filter: grayscale(0%);
    transform: scale(1.1);
}

/* its a group style which use in avery page */

.heading {
    background-color: #1d293a;
    padding: 10px 20px;
    font-size: 20px;
    width: 150px;
    margin: auto;
    text-align: center;
}

/* about description */

.ab-text {
    font-size: 18px
}

.card.card-body {
    background: #1d293a;
    /* background: #111a28; */
    color: white;
}

/* intro heading */

.prog h1 {
    float: left;
    font-weight: 700;
    font-size: 25px;
}

.prog h2 {
    float: right;
    font-weight: 700;
    font-size: 25px;
}

/* skill ber here */

.progress-bar {
    background-color: #ff8206;
    /* color: white; */
    /* margin-top: 50px; */
}

.mt-5 {
    margin-top: 50px;
}

#web {
    background-color: #ff8206;
    /* border-color: #ff8206; */
}

/* group style for skill  */

#otherTab, #toolTab, #progTab, #contactAr, #portfolioAr {
    display: none;
}

#other, #tools, #programing {
    background-color: #1d293a;
}

/* contact page start */

.con-t {
    margin-top: 20px
}

.con-t h1 {
    font-size: 26px;
    font-weight: 900;
}

.con-t p span {
    font-weight: 300;
    color: hsla(0, 0%, 100%, .65);
}

/* portfolio start here */

.card {
    background-color: #1d293a !important;
}

.card img {
    filter: grayscale(100%)
}

.card img:hover {
    filter: grayscale(0%)
}

/* about button in home page  */

.abbtn {
    color: white;
    padding: 18px 25px;
    border: 2px solid #ff8206;
    margin-right: 20px;
    font-size: 20px
}

.abbtn:hover {
    color: white;
}

.website {
    margin-top: 50px;
}